
*body {
    background-color: tan;
  }
  
  nav > ul {
      display: flex;
      justify-content: space-around;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    body {
      background-color: royalblue;
    }
    h1 {
      font-size: 36px;
    }
  
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  
    h1 {
      font-size: 40px;
    }
  
    nav > ul {
      flex-direction: column;
    }
  
  }